div#Main {
	/*border: 1px solid black;*/
	width: 100%;
	height: 100%;
	margin: 0;
	clear: both;
	overflow: hidden;
}

div#SideBar {
	/*border: 1px solid black;*/
	width: 20%;
	height: 100%;
	float: left;
	background-color: #538cc6;
	margin: 0;
	padding: 0;
}
	
div#Options a:link {
	color: white;
	text-decoration: none;
}

div#Options a:hover {
	color : #4ED50D!important;
	text-decoration : none; 
}

div#Options a:visited{
	color : white;
	text-decoration : none;
}


div#Content {
	/*border: 1px solid black;*/
	height: 100%;
	width: 80%;
	float: left;
	padding: 0;
}

div.Greeting {
	/*border: 1px solid red;*/
	color: white;
}

div#Options table {
	/*border: 1px solid black;*/
	width: 100%;
}

div#Options tr {
	text-align: left;
}

div#Options td {
	padding: 15px;
	font-size: 150%;
	font-weight: bold;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

div#Side_Bar_Space {
	height: 15%;
}

div#Search_Bar {
	/*border: 1px solid black;*/
	text-align: center;
	padding: 20px;
}

input.Search {
    border:1px solid blue;
    border-right-width: 0px;
    width: 500px;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    background-color: white;
}

input.Side_Bar_Button {
	background-color: white;
	color: blue;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	margin: 20px;
	float: left;
}

input.Button {
    position: relative;
    left: -6px;
    border: 1px solid blue;
    border-left-width: 0px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;            
}

input.Button:hover  {
    background-color: white;
    color: blue;
}

div.Info_Message {
	/*border: 1px solid black;*/
	float: left;
}

div.Info_Cover {
	/*border: 1px solid black;*/
	float: left;
}

div#Movies {
	/*border: 1px solid black;*/
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px;
	margin: 0px;
}

div.Movie {
	text-align: center;
	width: 200px;
	height: 250px;
	padding-top: 30px;
	float: left;
}

div.Movie div.Popup {
	border: 1px solid black;
	width: 200px;
	position: relative;
	z-index: 1;
	display: none;
	overflow: auto;
	height: 270px;
	width: 550px;
	word-wrap: break-word;
}

div.Movie:hover div.Popup {
	display: block;
}

img.Preview {
	width: 91px;
	height: 134px;
}