div#Main {
	/*border: 1px solid black;*/
	width: 100%;	
	margin: 0;
	overflow: hidden;
}
div#SideBar {
	/*border: 1px solid black;*/
	width: 20%;
	height: 100%;
	float: left;
	background-color: #538cc6;
	margin: 0;
	padding: 0;
}

div#Content {
	/*border: 1px solid black;*/

	float: left;
	padding: 10px;
}


div.Greeting {
	/*border: 1px solid red;*/
	color: white;
	align: right;
}

div.Greeting table{

	width: 100%;
	text-align: center;
	padding: 10px;
}
div.Greeting td{

	text-align: center;
}


div#Options table {
	/*border: 1px solid black;*/
	padding-top: 80px;
	width: 100%;
	align: left;
}



div#Options td {
	padding: 15px;
	font-size: 150%;
	font-weight: bold;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	text-align: left;
}
	
div#Options a:link {
	color: white;
	text-decoration: none;
}

div#Options a:hover {
	color : #4ED50D!important;
	text-decoration : none; 
}

div#Options a:visited{
	color : white;
	text-decoration : none;
}

a:link {
	color: #538cc6;
	text-decoration: none;
}

a:hover {
	color : #4ED50D!important;
	text-decoration : none; 
}

a:visited{
	color : #538cc6;
	text-decoration : none;
}

input.Side_Bar_Button {
	background-color: white;
	color: blue;
	width: wrap-content;
	height: 30px;
	border-radius: 5px;
	margin: 20px;
	float: left;
}

.Transactions{
	position: fixed;
	float: left;
	height: 98%;
	width: 100%;
	overflow: auto;
}

div.Transaction_Table table{
	padding: 10px;
	width: 100%;
	margin-bottom: 5px;
}

div.Transaction_Table tr{
	text-align: center;
	width: 80%;
	border: 1px solid #7ca8d3;
	
}

div.Transaction_Table td{

}


/*  
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*  
    Demo Specific Styles
    ====================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}

.wrap {
    position: relative;
}

.panel {
    background: #101820;
}

.panel a {
    color: #fff;
}